{% extends 'master1.html' %}
{% block content %}
    <br>
    {% load static %}
    <div>
        <h3 style="font-family: Georgia,serif; color: #040505" class=" pl-3">Why Choose Us.</h3>
        <div style="font-family: Georgia,serif; color: #040505" class="pl-3 pr-3">
            <div class="row">
                <div class="col-sm-6">
                    <p>We are your one stop solution for every marine related services you need to accomplish your projects efficiently and on time.
                        We understand client requirements and combine our knowledge and skill to develop the concept of your specific need.</p>
                    <p>Our tested, long-lasting and close cooperation with the Owners, Shipyards and Manufacturers gives us an invaluable experience
                        which reflects as unique innovations on your project. Our state-of-art solutions and technology focus on a safer, improved
                        and economically effective design.</p>
                    <p>Our specialization covers different range of vessels with the whole aspect of ship design and engineering, including project
                        development and general initial design.</p>
                    <p>Our principal objectives are to provide an outstanding level of service in Ship Design, Naval Architecture, Technical Consultancy,
                        Engineering Analysis and Drafting Services</p>
                </div>
                <div class="col-sm-6">
                    <img class="rounded img-fluid" src="../static/images/marineShip.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="background-color: #9cde9d">
        <h3 style="font-family: Georgia,serif; color: #040505" class="text-center">Our Management Message.</h3>
        <div class="container">
            <div class="media">
                <img src="../static/images/nelson.jpg" class="rounded-circle align-self-start mr-3" style="width:150px" alt="">
                <div style="background-color: #007bff; font-family: Georgia,serif; color: #040505" class="media-body pl-3">
                    <h4>Chairman's Statement.</h4>
                    <p>Dear Valued Partners and Stakeholders,</p>
                    <p>I am honored to address you on behalf of Chaohu Haitian Shipbuilding Co Ltd, a dynamic force driving innovation and sustainability in the blue economy.</p>
                    <p>In our journey towards a brighter, bluer future, we have established ourselves as a multifaceted entity with expertise spanning various sectors of the maritime
                        industry. From fishing to cold room services, bunkering, fish export, tuna canning, boat building, and ship repair, our diverse portfolio reflects our unwavering commitment to
                        excellence and environmental stewardship.</p>
                    <p>In the realm of fishing, we are proud to employ state-of-the-art technologies and sustainable practices to ensure the responsible harvest of marine resources.
                        Our dedication to quality and integrity extends to every aspect of our operations, from catch to market, as we strive to meet the highest standards of safety, efficiency, and sustainability.</p>
                    <p>Our cold room services play a crucial role in preserving the freshness and quality of seafood products, ensuring that they reach consumers in pristine condition. Through meticulous temperature control and adherence to industry best practices, we uphold our promise of delivering premium quality products that delight customers worldwide.</p>
                    <p>As a leading provider of bunkering services, we facilitate the smooth and efficient refueling of vessels, supporting seamless maritime operations across the globe. With a focus on reliability, safety, and environmental responsibility, we are trusted by shipping companies and maritime operators to deliver fuel solutions that meet their needs while minimizing our ecological footprint.
                    </p>
                    <p>In addition to our core services, our involvement in fish export and tuna canning underscores our commitment to adding value at every stage of the supply chain. By adhering to stringent quality standards and leveraging our global network, we ensure that our products reach markets around the world, enriching lives and nourishing communities along the way.
                    </p>
                    <p>Furthermore, our expertise in boat building and ship repair positions us as a trusted partner for maritime enterprises seeking reliable and cost-effective solutions. From small fishing vessels to large commercial ships, our skilled team stands ready to provide comprehensive services that keep our clients' fleets seaworthy and profitable.</p>
                    <p>At Chaohu Haitian Shipbuilding Co Ltd, we recognize that the blue economy is not just a business—it's a calling. It's about harnessing the vast potential of our oceans and waterways to create a more sustainable, equitable, and prosperous future for all.</p>
                    <p>As we continue to navigate the seas of opportunity and challenge, I extend my sincere gratitude to our partners, employees, and stakeholders for their unwavering support. Together, let us chart a course towards a brighter tomorrow, where the bounty of the sea sustains and enriches us all.</p>
                    <p>With warm regards,</p>
                    <p>Dr. Nelson Githinji <br>
                        Chairman, Chaohu Haitian Shipbuilding Co Ltd</p>
                </div>
            </div>
            <br>
            <div class="media">
                <img src="../static/images/liangDuanting.jpg" class="rounded-circle align-self-start mr-3" style="width:150px" alt="">
                <div style="background-color: #007bff; font-family: Georgia,serif; color: #040505" class="media-body pl-3">
                    <h4>CEO's Statement.</h4>
                    <p>Dear Esteemed Colleagues and Stakeholders,</p>
                    <p>As the Chief Executive Officer of Chaohu Haitian Shipbuilding Co Ltd, Mr. Liang Duanting,
                        it is my privilege to address you today and share our vision for shaping the future of the blue economy.</p>
                    <p>At Chaohu Haitian, we are guided by a steadfast commitment to excellence, innovation, and
                        sustainability in all that we do. Our journey in the maritime industry is not just about building ships; it's about building a legacy of
                        responsible stewardship and enduring value creation.</p>
                    <p>In our pursuit of excellence, we have cultivated a diverse portfolio of services that
                        span the entire spectrum of the blue economy. From fishing and cold room services to bunkering, fish export, tuna canning, boat building,
                        and ship repair, each facet of our business reflects our unwavering dedication to meeting the evolving needs of our customers and the industry.</p>
                    <p>In the realm of fishing, we are leveraging cutting-edge technologies and sustainable practices to
                        ensure the responsible and efficient harvest of marine resources. Our commitment to environmental stewardship drives us to continually innovate and
                        adopt best practices that minimize our ecological footprint while maximizing the sustainability of our operations.</p>
                    <p>Our cold room services play a pivotal role in maintaining the quality and freshness of seafood products,
                        extending their shelf life and ensuring that they reach consumers in pristine condition. By investing in state-of-the-art facilities and rigorous quality
                        control measures, we uphold our promise of delivering excellence at every step of the supply chain.</p>
                    <p>As a leading provider of bunkering services, we understand the critical role we play in facilitating the
                        smooth and efficient operation of vessels worldwide. Our focus on reliability, safety, and environmental responsibility ensures that our customers can navigate
                        the seas with confidence, knowing that they have a trusted partner in Chaohu Haitian.</p>
                    <p>Moreover, our involvement in fish export and tuna canning underscores our commitment to adding value and
                        driving economic growth in the communities we serve. By adhering to the highest standards of quality and integrity, we have earned the trust of customers
                        and partners around the world, positioning us as a preferred supplier in the global marketplace.</p>
                    <p>In the fields of boat building and ship repair, our skilled workforce and state-of-the-art facilities
                        enable us to provide comprehensive solutions that meet the diverse needs of our clients. Whether it's constructing a new vessel or conducting repairs and
                        maintenance, our team is dedicated to delivering excellence in every project we undertake.</p>
                    <p>As we look to the future, I am confident that Chaohu Haitian Shipbuilding Co Ltd, under the leadership of
                        Mr. Liang Duanting, will continue to lead the way in driving sustainable growth and innovation in the blue economy. Together with our partners, employees,
                        and stakeholders, we will chart a course towards a brighter tomorrow, where the bounty of the sea sustains and enriches us all.</p>
                    <p>Thank you for your continued support and partnership on this incredible journey.</p>
                    <p>Sincerely,</p>
                    <p>Mr. Liang Duanting <br>
                        Chief Executive Officer, Chaohu Haitian Shipbuilding Co Ltd</p>

                </div>
            </div>

        </div>
        <br>
    </div>

{% endblock %}