{% extends 'master1.html' %}
{% block content %}
    {% load static %}
    <br>
    <div class="container">
        <h3 style="font-family: Georgia,serif; color: #040505" class="text-center">Dar Es Salaam.</h3>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/darEsSalaam.jpg" class="img-fluid" alt="Photo 1">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/darEsSalaam2.jpg" class="img-fluid" alt="Photo 2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/darEsSalaam3.jpg" class="img-fluid" alt="Photo 3">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/darEsSalaam4.jpg" class="img-fluid" alt="Photo 4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Particulars</h3>
              <p>MV DAR ES SALAAM is a Luxerious Catamaran Passenger Ferry</p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>General Information</u></th>
                        <th></th>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Ship Type</td>
                        <td>Passenger Vessel</td>
                    </tr>
                    <tr>
                        <td>Project Type</td>
                        <td>Proven</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Year Built</td>
                        <td>2015</td>
                    </tr>
                    <tr>
                        <td>Builder</td>
                        <td>WMShL</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Owner</td>
                        <td>TAMESA Tanzania</td>
                    </tr>
                    <tr>
                        <td>Classification</td>
                        <td>Sumatra</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Material</td>
                        <td>Aluminium</td>
                    </tr>
                    <tr>
                        <td>Hull Form</td>
                        <td>Catamaran</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>Principal Particulars</u></th>
                        <th></th>

                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Length</td>
                        <td>37.50 m</td>
                    </tr>
                    <tr>
                        <td>Breadth</td>
                        <td>11.50 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Depth</td>
                        <td>03.80 m</td>
                    </tr>
                    <tr>
                        <td>Draught</td>
                        <td>01.60 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Capacity</td>
                        <td>300 Person</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td>16 Knot</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Service</td>
                        <td>Coastal Area</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <br>
{% endblock %}