{% extends 'master1.html' %}
{% block content %}
    {% load static %}
    <div class="container"><br>
        <div style="font-family: Georgia,serif; color: #040505" class="text-center">JLCSD200 Cutter Suction Dredger</div>
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-auto">
                <img src="../static/images/dreger.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div style="font-family: Georgia,serif; color: #040505" class="row">
            <div class="col-md-6">
                <h3 style="font-family: Georgia,serif; color: #040505; text-decoration: underline">Product Description</h3>
                <p>Julong cutter suction dredger, mainly applied in capital dredging, maintenance dredging,environmental
                    dredging, river dredging, lake&reservoirs dredging,port dredging, infrastructure dredging, sand mining,
                    land reclamation etc, our cutter suction dredger are capable of dredging different types of soil, mud,
                    sand and even rocks.</p>
                <p>We offer standard design of cutter suction dredger, we can also build customized dredger which is most
                    suitable, efficient and sustainable and for your project, with our experience and knowledge, we will
                    always find the best choice for you.</p>
            </div>
            <div class="col-md-6">
                <h3 style="font-family: Georgia,serif; color: #040505; text-decoration: underline">Feature & Advantage</h3>
                <p>Our cutter suction dredger are of dismantable type and modular structure, easy to assemble & disassemble,
                    transport to differnt project site. All dredgers can be equipped with “Smart Digital System”, easy to
                    operate and monitor it. The continuous dredging production of our dredgers make them a reliable solution
                    for your requirement, and become most ideal for your dredging job.</p>
            </div>
        </div>

        <div style="font-family: Georgia,serif; color: #040505" class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th style="font-family: Georgia,serif; color: #040505"><u>JLCSD200 Cutter Suction Dredger Technical Specifications/General Specifications</u></th>
                    </tr>

                    <tr style="background-color: #95999c">
                        <td>OA Length (Ladder included)</td>
                        <td>17m</td>
                    </tr>

                    <tr>
                        <td>Flow Capacity</td>
                        <td>500m³/hr</td>
                    </tr>

                    <tr style="background-color: #95999c">
                        <td>Standard Dredging Depth</td>
                        <td>6m</td>
                    </tr>

                    <tr>
                        <td>Hull Depth</td>
                        <td>1.5m</td>
                    </tr>

                    <tr style="background-color: #95999c">
                        <td>Discharge Distance</td>
                        <td>500m</td>
                    </tr>

                    <tr>
                        <td>Draft</td>
                        <td>0.8m</td>
                    </tr>

                    <tr style="background-color: #95999c">
                        <td>Suction Pipe Diameter</td>
                        <td>200m</td>
                    </tr>
                    <tr>
                        <td>Cutter Head Power</td>
                        <td>30kw</td>
                    </tr>

                    <tr style="background-color: #95999c">
                        <td>Discharge Pipe Diameter</td>
                        <td>200mm</td>
                    </tr>
                    <tr>
                        <td>Engine Power</td>
                        <td>224kw</td>
                    </tr>
                </table>
                <p style="font-style: italic"><strong>NB: Customized Design is Available</strong></p>
            </div>

            <div class="col-md-6">
                <h3 style="font-family: Georgia,serif; color: #040505; text-decoration: underline">Service & Warranty</h3>
                <p>As a innovative enterprise we have large investment in our global service system, thus we have many
                    service setup in different countries, we will give prompt support if there is something wrong with your dredger.</p>
                <p>And for standard deal we offer <strong>12 months warranty</strong> and service with free spare parts, which would confirm
                    you could get prompt support. Even after warranty expires we can offer you service and support with
                    most basic charge. We are not targeting to only sell you dredgers, we prefer to be your business partner
                    and offer you one-stop dredging solution.</p>
            </div>
        </div>

    </div>
    <br>
{% endblock %}