{% extends 'master1.html' %}
{% block content %}
    {% load static %}
    <br>
    <div class="container">
        <h3 style="font-family: Georgia,serif; color: #040505" class="text-center">FINFIN.</h3>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/finfin.jpg" class="img-fluid" alt="Photo 1">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/finfin2.jpg" class="img-fluid" alt="Photo 2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/finfin3.jpg" class="img-fluid" alt="Photo 3">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/finfin4.jpg" class="img-fluid" alt="Photo 4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Particulars</h3>
                <p>FINFIN featured a multi-hull design that offers a number of benefits, making her an appealing and ever popular choice
                    for family uses, VIP guests, tourists etc. It is a luxury catamaran which ensures smooth, stable cruising
                    and access to most spectacular shallow waters.</p>
                <p>Due to a flexible construction method, the vessels can be designed to meet operational requirements of
                    both protected waters and open sea conditions.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>General Information</u></th>
                        <th></th>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Ship Type</td>
                        <td>Passenger Vessel</td>
                    </tr>
                    <tr>
                        <td>Project Type</td>
                        <td>Proven</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Year Built</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>GRP</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Hull Form</td>
                        <td>Catamaran</td>
                    </tr>
                    <tr>
                        <td>Classification</td>
                        <td>RINA</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Owner</td>
                        <td>Northwest Power</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>Principal Particulars</u></th>
                        <th></th>

                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Length</td>
                        <td>19.00 m</td>
                    </tr>
                    <tr>
                        <td>Breadth</td>
                        <td>08.00 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Depth</td>
                        <td>02.50 m</td>
                    </tr>
                    <tr>
                        <td>Draught</td>
                        <td>01.50 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Capacity</td>
                        <td>120 Person</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td>22 Knot</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Service</td>
                        <td>Coastal Area</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <br>
{% endblock %}