{% extends 'master1.html' %}
{% block content %}
    <h3 style="background-color: #007bff; font-family: Georgia,serif; color: #040505" class="text-center">Fishing</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img style="height: 50%" src="../static/images/net1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <img style="height: 50%" src="../static/images/net2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-4">
                <img style="height: 50%" src="../static/images/net3.jpg" class="img-fluid" alt="">
            </div>
        </div> <br>
    </div>
{% endblock %}