{% extends 'master1.html' %}
{% block content %}
    {% load static %}
    <br>
    <div class="container">
        <h3 style="font-family: Georgia,serif; color: #040505" class="text-center">Sea Horse.</h3>
        <br>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/seaHorse.jpg" class="img-fluid" alt="Photo 1">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/seaHorse2.jpg" class="img-fluid" alt="Photo 2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/seaHorse3.jpg" class="img-fluid" alt="Photo 3">
            </div>
            <div class="col-md-6 mb-3">
                <img style="width: 80%" src="../static/images/seaHorse4.jpg" class="img-fluid" alt="Photo 4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Particulars</h3>
                <p>The SeaHorse is a welded aluminum mono hull patrol vessel specially designed for use as a law enforcement,
                    port security and military patrol boat. It may be fully customized to meet virtually any mission requirement. Regardless of configuration and equipment, the seahorse serves as an extremely stable, dependable, and highly capable platform that is well suited for both inland and offshore use.</p>
                <p>The boat have good sea-keeping ability and able to operate in shallow waters near coasts and beaches.</p>
            </div>

            <div class="col-sm-6">
                <h3>Major Characteristics:</h3>
                <p># Good sea-keeping ability</p>
                <p># Excellent stability, maneuverability and speed</p>
                <p># Smaller turning circle</p>
                <p># Shorter stopping distance</p>
                <p># Should be able to operate in shallow waters near coasts and beaches</p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>General Information</u></th>
                        <th></th>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Ship Type</td>
                        <td>Interceptor</td>
                    </tr>
                    <tr>
                        <td>Project Type</td>
                        <td>Proven</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Year Built</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>Owner</td>
                        <td>Bangladesh Army</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Material</td>
                        <td>Aluminium</td>
                    </tr>
                    <tr>
                        <td>Hull Form</td>
                        <td>Planing hull with reverse chine</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table>
                    <tr>
                        <th><u>Principal Particulars</u></th>
                        <th></th>

                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Length</td>
                        <td>14.50 m</td>
                    </tr>
                    <tr>
                        <td>Breadth</td>
                        <td>03.80 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Depth</td>
                        <td>01.50 m</td>
                    </tr>
                    <tr>
                        <td>Draught</td>
                        <td>0.70 m</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Capacity</td>
                        <td>20 Person</td>
                    </tr>
                    <tr>
                        <td>Speed</td>
                        <td>35 Knots</td>
                    </tr>
                    <tr style="background-color: #95999c">
                        <td>Service</td>
                        <td>Coastal Area</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <br>
{% endblock %}